## 1. Load the dataset

The dataset used in this example is [fine-food reviews](https://www.kaggle.com/snap/amazon-fine-food-reviews) from Amazon. The dataset contains a total of 568,454 food reviews Amazon users left up to October 2012. We will use a subset of this dataset, consisting of 1,000 most recent reviews for illustration purposes. The reviews are in English and tend to be positive or negative. Each review has a ProductId, UserId, Score, review title (Summary) and review body (Text).

We will combine the review summary and review text into a single combined text. The model will encode this combined text and it will output a single vector embedding.

To run this notebook, you will need to install: pandas, openai, transformers, plotly, matplotlib, scikit-learn, torch (transformer dep), torchvision, and scipy.

In [2]:
import pandas as pd

input_datapath = 'data/fine_food_reviews_1k.csv'  # to save space, we provide a pre-filtered dataset
df = pd.read_csv(input_datapath, index_col=0)
df = df[['Time', 'ProductId', 'UserId', 'Score', 'Summary', 'Text']]
df = df.dropna()
df['combined'] = "Title: " + df.Summary.str.strip() + "; Content: " + df.Text.str.strip()
df.head(2)

,Time,ProductId,UserId,Score,Summary,Text,combined
0,1351123200,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...
1,1351123200,B003JK537S,A3JBPC3WFUT5ZP,1,Arrived in pieces,"Not pleased at all. When I opened the box, mos...",Title: Arrived in pieces; Content: Not pleased...

In [3]:
df = df.sort_values('Time').tail(1_100)
df.drop('Time', axis=1, inplace=True)

In [4]:
from transformers import GPT2TokenizerFast
tokenizer = GPT2TokenizerFast.from_pretrained("gpt2")

In [5]:
# remove reviews that are too long
df['n_tokens'] = df.combined.apply(lambda x: len(tokenizer.encode(x)))
df = df[df.n_tokens<8000].tail(1_000)

In [6]:
len(df)

1000

### 2. Get embeddings and save them for future reuse

In [2]:
import openai
from openai.embeddings_utils import get_embedding
# Ensure you have your API key set in your environment per the README: https://github.com/openai/openai-python#usage

openai.api_key = os.getenv("OPENAI_API_KEY")

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

In [8]:
from tenacity import (
    retry,
    stop_after_attempt,
    wait_random_exponential,
)  # for exponential backoff

In [9]:
# This will take just between 2 and 5 minutes

@retry(wait=wait_random_exponential(min=1, max=60), stop=stop_after_attempt(6))
def add_similarity():
  df['ada_similarity'] = df.combined.apply(lambda x: get_embedding(x, engine='text-embedding-ada-002'))

add_similarity()
df.head(2)

,ProductId,UserId,Score,Summary,Text,combined,n_tokens,ada_similarity
0,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...,51,"[0.007101069204509258, -0.027345648035407066, ..."
297,B003VXHGPK,A21VWSCGW7UUAR,4,"Good, but not Wolfgang Puck good","Honestly, I have to admit that I expected a li...","Title: Good, but not Wolfgang Puck good; Conte...",178,"[-0.0031342837028205395, -0.009958481416106224..."

In [10]:
# This will take just between 2 and 5 minutes

@retry(wait=wait_random_exponential(min=1, max=60), stop=stop_after_attempt(6))
def add_search():
  df['ada_search'] = df.combined.apply(lambda x: get_embedding(x, engine='text-embedding-ada-002'))

add_search()
df.head(2)

,ProductId,UserId,Score,Summary,Text,combined,n_tokens,ada_similarity,ada_search
0,B003XPF9BO,A3R7JR3FMEBXQB,5,where does one start...and stop... with a tre...,Wanted to save some to bring to my Chicago fam...,Title: where does one start...and stop... wit...,51,"[0.007101069204509258, -0.027345648035407066, ...","[0.006995313800871372, -0.027321254834532738, ..."
297,B003VXHGPK,A21VWSCGW7UUAR,4,"Good, but not Wolfgang Puck good","Honestly, I have to admit that I expected a li...","Title: Good, but not Wolfgang Puck good; Conte...",178,"[-0.0031342837028205395, -0.009958481416106224...","[-0.0031342837028205395, -0.009958481416106224..."

In [11]:

df.to_csv('data/fine_food_reviews_with_embeddings_1k.csv')